In [1]:
import re
import pandas as pd
import numpy as np

In [3]:
with open('class1.txt','r') as file1:
    FileContent = file1.readlines()
    print (FileContent)

['N00000001,A,A,D,D,C,D,D,A,,C,D,B,C,,B,C,B,D,A,C,,A,,C,D\n', 'N00000002,,A,,D,,B,D,A,C,C,D,,A,A,A,C,B,D,C,C,A,A,B,,D\n', 'N00000003,B,A,,D,C,B,D,A,C,C,,B,A,B,A,C,B,D,A,,A,,B,D,D\n', 'N00000004,B,B,D,,,B,D,A,C,C,D,B,A,B,A,C,B,D,,C,A,D,B,C,D\n', 'N00000005,B,A,,D,,B,D,A,C,C,D,B,A,B,A,C,B,D,D,C,A,A,,D,D\n', 'N00000006,B,A,D,A,C,B,D,A,C,C,C,B,A,D,A,C,,C,A,C,A,C,B,D,A\n', 'N00000007,B,A,D,D,C,B,D,A,C,,D,B,A,B,A,C,B,D,,C,A,A,B,D,\n', 'N00000008,A,A,D,D,C,,D,A,C,C,B,C,A,B,A,A,B,D,A,C,A,,B,B,D\n', 'N00000009,B,A,,D,C,B,D,A,C,A,D,B,A,B,A,A,B,D,A,C,A,A,B,D,D\n', 'N00000010,,A,D,B,C,B,D,A,C,C,D,B,A,B,A,C,B,D,A,D,,,B,D,B\n', 'N00000011,B,A,D,,C,B,D,A,C,D,D,B,A,B,A,C,B,D,A,C,A,B,B,D,D\n', 'N00000012,B,,D,D,C,B,D,A,C,C,D,B,A,B,A,A,B,D,A,,A,A,A,,C\n', 'N00000013,,A,D,,B,B,,A,C,A,D,B,A,B,D,C,B,D,A,C,A,A,B,D,D\n', 'N00000014,B,B,D,D,C,B,,D,C,C,D,B,A,B,A,C,,D,A,C,A,A,,D,D\n', 'N00000015,A,C,C,D,C,B,,A,C,C,D,B,A,B,A,C,B,D,A,C,A,B,,D,D\n', 'N00000016,B,A,C,D,,B,D,A,C,C,D,B,A,B,A,C,B,D,A,C,A,A,B,D,D\n', 'N00000017,B,A,D,D,C,B,C,A,D,C,D,A,A,D,A,C,B,D,D,B,,A,B,D,D\n', 'N00000018,B,A,D,A,C,B,D,A,C,C,D,B,A,B,,,B,D,A,B,A,A,B,,D\n', 'N00000019,B,A,D,D,C,B,D,C,C,C,,B,,B,D,C,B,D,A,,A,A,B,D,D\n', 'N00000020,B,,D,D,C,B,D,A,C,B,,,A,C,A,D,B,D,B,C,A,A,B,D,D\n', 'N000000203,B,,D,D,C,B,D,A,C,B,,,A,C,A,D,B,D,B,C,A,A,B,D,D\n', 'N000000204,B,,D,D,C,B,D,A,C,B,,,A,C,A,D,B,D,B,C,A,A,B,D,D,L,K\n', 'N0000025,B,,D,D,C,B,D,A,C,B,,,A,C,A,D,B,D,B,C,A,A,B,D,D,L,K\n', 'N0000024,B,,D,D,C,B,D,A,C,B,,,A,C,A,D,B,D,B,C,A,A,B,D,D']

In [2]:
def read_file(rf):
    with open(rf,'r') as file:
        data = file.read()
    return data

In [29]:
try:
    filename = input('Enter class file to grade: ')
    read_file(filename)
    print('Successfully opened {}'.format(filename))
except:
    print('File cannot be found')
#data read as str

Enter class file to grade: class1.txt
Successfully opened class1.txt

In [4]:
def check_code(dulieu):
    regex = ('^N[0-9]{8,8}')
    x = re.findall(regex,dulieu)
    x = ''.join(x)
    if x == '' or len(dulieu)>9:
        return True
    else:
        return False
# True: invalid id; False: valid id

In [35]:
Regex = ('^N[0-9]*')
process = 0
invalid_line = {}

try:
    filename = input('Enter class file to grade: ')
    data = read_file(filename).split('\n')
    print('Successfully opened {}'.format(filename))
    for line in data:
            process = process + 1
            code = re.findall(Regex,line.split(',')[0])
            answers = line.split(',')
            if check_code(code) == True:
                invalid_line[process] = [('Invalid ID: '+line)]
            if len(answers) != 26:
                invalid_line[process] = [('Invalid answers: ' +line)]
    if len(invalid_line.keys())==0:
        print('No errors found! \n **** REPORT **** \n Total valid data:', process)
    else:
        print('Total valid data:', process - len(invalid_line.keys()))
        print('Total invalid data', len(invalid_line.keys()))
        ReportInvalid = list(invalid_line.values())
        print(ReportInvalid)
except:
    print('File cannot be found')

Enter class file to grade: class1.txt
Successfully opened class1.txt
Total valid data: 20
Total invalid data 4
[['Invalid ID: N000000203,B,,D,D,C,B,D,A,C,B,,,A,C,A,D,B,D,B,C,A,A,B,D,D'], ['Invalid answers: N000000204,B,,D,D,C,B,D,A,C,B,,,A,C,A,D,B,D,B,C,A,A,B,D,D,L,K'], ['Invalid answers: N0000025,B,,D,D,C,B,D,A,C,B,,,A,C,A,D,B,D,B,C,A,A,B,D,D,L,K'], ['Invalid ID: N0000024,B,,D,D,C,B,D,A,C,B,,,A,C,A,D,B,D,B,C,A,A,B,D,D']]

In [320]:
def score_funtion(filename):
    score_list = {}
    answer_key = ['B','A','D','D','C','B','D','A','C','C','D','B','A','B','A','C','B','D','A','C','A','A','B','D','D']
    wrong_answer = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]
    omitted_answer = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]
    data = read_file(filename).split('\n')
    for line in data:
        code = line.split(',')[0]
        answers = line.strip().split(',')[1:]
        if check_code(code) == False and len(answers) == 25:
            score = 0
            for x in range(25):
                if answers[x] == '':
                    omitted_answer[x] = omitted_answer[x] + 1
                else:
                    if answers[x] == answer_key[x]:
                        score = score + 4
                    else:
                        score = score - 1
                        wrong_answer[x] = wrong_answer[x] + 1
                score_list[code] = score

    return score_list,wrong_answer,omitted_answer

In [321]:
score_funtion('class1.txt')

({'N00000001': 59,
  'N00000002': 70,
  'N00000003': 84,
  'N00000004': 73,
  'N00000005': 83,
  'N00000006': 66,
  'N00000007': 88,
  'N00000008': 67,
  'N00000009': 86,
  'N00000010': 73,
  'N00000011': 86,
  'N00000012': 73,
  'N00000013': 73,
  'N00000014': 78,
  'N00000015': 72,
  'N00000016': 91,
  'N00000017': 66,
  'N00000018': 78,
  'N00000019': 78,
  'N00000020': 68},
 [3, 3, 2, 3, 1, 1, 1, 2, 1, 4, 2, 2, 1, 4, 3, 4, 0, 1, 4, 3, 0, 4, 1, 3, 3],
 [3, 2, 4, 3, 4, 1, 3, 0, 1, 1, 3, 2, 1, 1, 1, 1, 2, 0, 2, 3, 3, 3, 4, 3, 1])

In [9]:
answer_key = ['B','A','D','D','C','B','D','A','C','C','D','B','A','B','A','C','B','D','A','C','A','A','B','D','D']
wrong_answer = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]
omitted_answer = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]
list_code = {}
data = read_file('class1.txt').split('\n')
for line in data:
    code = line.split(',')[0]
    answers = line.strip().split(',')[1:]
    score = 0
    for x in range(25):
        if answers[x] == '':
            omitted_answer[x] = omitted_answer[x] + 1
        else:
            if answers[x] == answer_key[x]:
                score = score + 4
            else:
                score = score - 1
                wrong_answer[x] = wrong_answer[x] + 1
        list_code[code] = score

In [164]:
omitted_answer,wrong_answer

([3, 6, 4, 3, 4, 1, 3, 0, 1, 1, 7, 6, 1, 1, 1, 1, 2, 0, 2, 3, 3, 3, 4, 3, 1],
 [3, 3, 2, 3, 1, 1, 1, 2, 1, 8, 2, 2, 1, 8, 3, 8, 0, 1, 8, 3, 0, 4, 1, 3, 3])

In [15]:
score_list = list(map(float,list_code.values()))
high_scorer = 0
for h in score_list:
    if h > 80:
        high_scorer = high_scorer + 1
high_scorer
#find scorer higher than 80 => done

6

In [17]:
max_score=max(score_list)
mix_score=min(score_list)
average_score = sum(list_code.values())/len(list_code.values())
print(average_score,max_score,mix_score)
#find average, min, max score => done

74.33333333333333 91.0 59.0

In [18]:
if len(score_list)/2 != 0:
    a = int(len(score_list)/2) + 1
    med = sorted(score_list)[a]
else:
    a = int(len(score_list)/2)
    b = int(len(score_list)/2) + 1
    med = (sorted(score_list[a]) + sorted(score_list[b]))/2

med
# find median of score list

73.0

In [20]:
i=0
for i in range(len(wrong_answer)):
    if wrong_answer[i] == max(wrong_answer):
        print('Question that most people skip is Number No :', i+1, '- ', max(wrong_answer), '- ', max(wrong_answer)/25)
#find most wrong answers

Question that most people skip is Number No : 10 -  8 -  0.32
Question that most people skip is Number No : 14 -  8 -  0.32
Question that most people skip is Number No : 16 -  8 -  0.32
Question that most people skip is Number No : 19 -  8 -  0.32

In [23]:

for i in range(len(omitted_answer)):
    if omitted_answer[i] == max(omitted_answer):
        print('Question that most people skip is Number No :', i+1, '- ', max(omitted_answer), '- ', max(omitted_answer)/25)
#find most omitted answers is number no - people skip - % skip

Question that most people skip is Number No : 11 -  7 -  0.28

Task 5:

In [305]:
try:
    filename = input('Input file name: ')
    df = pd.read_csv(filename, sep = ' ',header = None)
except:
    print('File name invalid')
print('Successful open file {}'.format(filename))

Input file name: class1.txt
Successful open file class1.txt

In [306]:
df_score = pd.DataFrame()

In [307]:
df_score[['ID_Number','Score']] = df[0].str.split(',', expand = True, n=1)
#Split to check valid data line

In [308]:
df_score

     ID_Number                                              Score
0    N00000001      A,A,D,D,C,D,D,A,,C,D,B,C,,B,C,B,D,A,C,,A,,C,D
1    N00000002       ,A,,D,,B,D,A,C,C,D,,A,A,A,C,B,D,C,C,A,A,B,,D
2    N00000003      B,A,,D,C,B,D,A,C,C,,B,A,B,A,C,B,D,A,,A,,B,D,D
3    N00000004     B,B,D,,,B,D,A,C,C,D,B,A,B,A,C,B,D,,C,A,D,B,C,D
4    N00000005     B,A,,D,,B,D,A,C,C,D,B,A,B,A,C,B,D,D,C,A,A,,D,D
5    N00000006   B,A,D,A,C,B,D,A,C,C,C,B,A,D,A,C,,C,A,C,A,C,B,D,A
6    N00000007     B,A,D,D,C,B,D,A,C,,D,B,A,B,A,C,B,D,,C,A,A,B,D,
7    N00000008    A,A,D,D,C,,D,A,C,C,B,C,A,B,A,A,B,D,A,C,A,,B,B,D
8    N00000009   B,A,,D,C,B,D,A,C,A,D,B,A,B,A,A,B,D,A,C,A,A,B,D,D
9    N00000010     ,A,D,B,C,B,D,A,C,C,D,B,A,B,A,C,B,D,A,D,,,B,D,B
10   N00000011   B,A,D,,C,B,D,A,C,D,D,B,A,B,A,C,B,D,A,C,A,B,B,D,D
11   N00000012     B,,D,D,C,B,D,A,C,C,D,B,A,B,A,A,B,D,A,,A,A,A,,C
12   N00000013     ,A,D,,B,B,,A,C,A,D,B,A,B,D,C,B,D,A,C,A,A,B,D,D
13   N00000014     B,B,D,D,C,B,,D,C,C,D,B,A,B,A,C,,D,A,C,A,A,,D,D
14   N00000015    A,C,C,D,C,B,,A,C,C,D,B,A,B,A,C,B,D,A,C,A,B,,D,D
15   N00000016   B,A,C,D,,B,D,A,C,C,D,B,A,B,A,C,B,D,A,C,A,A,B,D,D
16   N00000017   B,A,D,D,C,B,C,A,D,C,D,A,A,D,A,C,B,D,D,B,,A,B,D,D
17   N00000018     B,A,D,A,C,B,D,A,C,C,D,B,A,B,,,B,D,A,B,A,A,B,,D
18   N00000019     B,A,D,D,C,B,D,C,C,C,,B,,B,D,C,B,D,A,,A,A,B,D,D
19   N00000020     B,,D,D,C,B,D,A,C,B,,,A,C,A,D,B,D,B,C,A,A,B,D,D
20  N000000203     B,,D,D,C,B,D,A,C,B,,,A,C,A,D,B,D,B,C,A,A,B,D,D
21  N000000204  B,,D,D,C,B,D,A,C,B,,,A,C,A,D,B,D,B,C,A,A,B,D,D...
22    N0000025  B,,D,D,C,B,D,A,C,B,,,A,C,A,D,B,D,B,C,A,A,B,D,D...
23    N0000024     B,,D,D,C,B,D,A,C,B,,,A,C,A,D,B,D,B,C,A,A,B,D,D

In [309]:
df_error = df_score[((df_score['Score'].str.split(',').apply(lambda x: len(x))) != 25)|(df_score['ID_Number'].apply(lambda x: check_code(x)))]
# Invalid data line

In [310]:
df_Score_check = df_score[((df_score['Score'].str.split(',').apply(lambda x: len(x))) == 25)&(df_score['ID_Number'].apply(lambda x: check_code(x) == False))]
# Valid data line

In [311]:
df_Score_check.index = df_Score_check['ID_Number']
 
# Convert ID_Number to index

In [269]:
m = list(range(1,26))
m

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25]

In [312]:
answer_key = pd.Series(['B','A','D','D','C','B','D','A','C','C','D','B','A','B','A','C','B','D','A','C','A','A','B','D','D'])
answer_key

0     B
1     A
2     D
3     D
4     C
5     B
6     D
7     A
8     C
9     C
10    D
11    B
12    A
13    B
14    A
15    C
16    B
17    D
18    A
19    C
20    A
21    A
22    B
23    D
24    D
dtype: object

In [313]:
df_answer = df_Score_check['Score'].str.split(',', expand = True, n = 24) 

# Split answer to columns and change the colunms' name
# Only Valid data being process to score

In [314]:
df_answer_1 = df_answer.where(df_answer != '',0)
# filter omitted answer
df_answer_2 = df_answer_1.where(df_answer_1 != answer_key,4)
# filter True answer
df_scored_final = df_answer_2.replace('\D',-1,regex = True)
# filter False answer

In [316]:
df_scored_final

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
ID_Number,,,,,,,,,,,,,,,,,,,,,
N00000001,-1,4,4,4,4,-1,4,4,0,4,...,4,4,4,4,4,0,4,0,-1,4
N00000002,0,4,0,4,0,4,4,4,4,4,...,4,4,4,-1,4,4,4,4,0,4
N00000003,4,4,0,4,4,4,4,4,4,4,...,4,4,4,4,0,4,0,4,4,4
N00000004,4,-1,4,0,0,4,4,4,4,4,...,4,4,4,0,4,4,-1,4,-1,4
N00000005,4,4,0,4,0,4,4,4,4,4,...,4,4,4,-1,4,4,4,0,4,4
N00000006,4,4,4,-1,4,4,4,4,4,4,...,4,0,-1,4,4,4,-1,4,4,-1
N00000007,4,4,4,4,4,4,4,4,4,0,...,4,4,4,0,4,4,4,4,4,0
N00000008,-1,4,4,4,4,0,4,4,4,4,...,-1,4,4,4,4,4,0,4,-1,4
N00000009,4,4,0,4,4,4,4,4,4,-1,...,-1,4,4,4,4,4,4,4,4,4
N00000010,0,4,4,-1,4,4,4,4,4,4,...,4,4,4,4,-1,0,0,4,4,-1
N00000011,4,4,4,0,4,4,4,4,4,-1,...,4,4,4,4,4,4,-1,4,4,4
N00000012,4,0,4,4,4,4,4,4,4,4,...,-1,4,4,4,0,4,4,-1,0,-1
N00000013,0,4,4,0,-1,4,0,4,4,-1,...,4,4,4,4,4,4,4,4,4,4
N00000014,4,-1,4,4,4,4,0,-1,4,4,...,4,0,4,4,4,4,4,0,4,4
N00000015,-1,-1,-1,4,4,4,0,4,4,4,...,4,4,4,4,4,4,-1,0,4,4
N00000016,4,4,-1,4,0,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
N00000017,4,4,4,4,4,4,-1,4,-1,4,...,4,4,4,-1,-1,0,4,4,4,4
N00000018,4,4,4,-1,4,4,4,4,4,4,...,0,4,4,4,-1,4,4,4,0,4
N00000019,4,4,4,4,4,4,4,-1,4,4,...,4,4,4,4,0,4,4,4,4,4
N00000020,4,0,4,4,4,4,4,4,4,-1,...,-1,4,4,-1,4,4,4,4,4,4

In [324]:
omited_answer_pd = df_scored_final.apply(lambda x: (x==0).sum(), axis = 'index')
omited_answer_pd

#omited answer

0     3
1     2
2     4
3     3
4     4
5     1
6     3
7     0
8     1
9     1
10    3
11    2
12    1
13    1
14    1
15    1
16    2
17    0
18    2
19    3
20    3
21    3
22    4
23    3
24    1
dtype: int64

In [323]:
wrong_answer_pd = df_scored_final.apply(lambda x: (x==-1).sum(), axis = 'index')
wrong_answer_pd

#wrong answer

0     3
1     3
2     2
3     3
4     1
5     1
6     1
7     2
8     1
9     4
10    2
11    2
12    1
13    4
14    3
15    4
16    0
17    1
18    4
19    3
20    0
21    4
22    1
23    3
24    3
dtype: int64

In [325]:
wrong_answer_pd == wrong_answer

0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
14    True
15    True
16    True
17    True
18    True
19    True
20    True
21    True
22    True
23    True
24    True
dtype: bool

In [327]:
Student_score = omited_answer_pd = df_scored_final.apply(lambda x: sum(x), axis = 1)
Student_score

ID_Number
N00000001    59
N00000002    70
N00000003    84
N00000004    73
N00000005    83
N00000006    66
N00000007    88
N00000008    67
N00000009    86
N00000010    73
N00000011    86
N00000012    73
N00000013    73
N00000014    78
N00000015    72
N00000016    91
N00000017    66
N00000018    78
N00000019    78
N00000020    68
dtype: int64

In [345]:
a = np.asarray(Student_score)
a

array([59., 70., 84., 73., 83., 66., 88., 67., 86., 73., 86., 73., 73.,
       78., 72., 91., 66., 78., 78., 68., 68., 68., 68., 68.])

In [347]:
a.max()

91.0

In [349]:
a.mean()

74.33333333333333

In [353]:
np.median(a)

73.0

In [354]:
np.max(a)

91.0